@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  
}

.caixa-video {
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

video {
  position: fixed;
  top: 0;
  min-height: 100%;
  min-width: 100%;
}
.logo {
  width: 300px;
  margin: 20px auto;
  display: block;
}

main {
  width: 370px;
  border-radius: 20px;
  background-color: transparent;
  margin: 20px auto 40px;
  padding: 44px 24px 23px;
  border:  2px solid rgba(255, 255, 255, .5);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0,0, 0, .5);
}

label {
  color: #ffffff;
  font-weight: 400;
  font-size: 1rem;
}

select,
input {
  background: #ffffff;
  border: 1px solid #bbbbbb;
  border-radius: 4px;
  height: 48px;
  width: 100%;
  margin-bottom: 24px;
  appearance: none;
  padding-left: 18px;
  font-size: 1rem;
  font-weight: 700;
  color: #555555;
  cursor: pointer;
}

button {
  width: 100%;
  border-radius: 5px;
  background: #162938;
  border: none;
  height: 48px;
  color: #ffffff;
  font-weight: 700;
  font-size: 1.3rem;
  cursor: pointer;
}

button:hover {
  opacity: 0.5;
}

button:active {
  opacity: 0.6;
}

section {
  border: 2px solid #555555;
  border-radius: 5px;
  margin-top: 36px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrow-img {
  margin: 15px;
  width: 60px;
}

.currency-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.currency {
  color: #ffffff;
  font-size: 1rem;
}

.currency-value, .currency-value-to-convert {
    color: #ffffff;
    font-weight: 700;
    font-size: 1.5rem;
}
